.header__lang-link {
    margin: 0;
    margin-right: 18px;
    font-size: 18px;
    line-height: 117%;
    font-weight: normal;
    color: #fff;
}

.header__lang-link:first-of-type {
    text-decoration: underline;
}

.header__lang-link:last-of-type {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .header__lang-link {
        font-size: 24px;
    }
}