.place__title {
    margin: 0 1rem;
    font-weight: 900;
    font-size: 32px;
    line-height: 110%;
}

@media screen and (min-width: 768px) {
    .place__title {
        font-size: 42px;
        margin: 0;
        grid-column: 1;
        grid-row: 1;
    }
}

@media screen and (min-width: 1024px) {
    .place__title {
        max-width: 400px;
        font-size: 72px;
    }
}