.intro__list {
    margin: 2rem 0 0;
    padding: 0;
    list-style-type: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

@media screen and (min-width: 768px) {
    .intro__list {
        margin: 2.25rem 0 0;
    }
}

@media screen and (min-width: 1024px) {
    .intro__list {
        margin: 2rem 0 0;
    }
}