.root__header {
    margin: 19px 16px 0;
}

@media screen and (min-width: 768px) {
    .root__header {
        margin: 22px 24px 0;
    }
}

@media screen and (min-width: 1024px) {
    .root__header {
        margin: 28px 48px 0;
    }
}