.root__cover {
    margin-top: 66px;
}

@media screen and (min-width: 768px) {
    .root__cover {
        margin-top: 90px;
    }
}

@media screen and (min-width: 1024px) {
    .root__cover {
        margin-top: 92px;
    }
}

@media screen and (min-width: 1280px) {
    .root__cover {
        margin: 92px 3rem 0;
    }
}