.footer__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 112%;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.footer__link:hover {
    opacity: .8;
}

@media screen and (min-width: 768px) {
    .footer__link {
        font-size: 16px;
    }
}