.lead__title {
    margin: 0 1rem 0.5rem;
    color: #fff;
    font-size: 40px;
    line-height: 110%;
    font-weight: bold;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .lead__title {
        margin: 0 1.5rem 2rem;
        font-size: 96px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__title {
        margin: 0 calc(9.5rem - 3rem) 2rem;
    }
}

@media screen and (min-width: 1280px) {
    .lead__title {
        margin: 0 calc(17.5rem - 9.25rem) 2rem;
    }
}