.root__lead {
    margin: 3.3rem 0 0;
}

@media screen and (min-width: 1024px) {
    .root__lead {
        margin: 3rem 3rem 0;
    }
}

@media screen and (min-width: 1280px) {
    .root__lead {
        margin: 3.5rem 9.25rem 0;
    }
}