.place__link {
    display: inline-block;
    margin: 12px 0 0;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
    transition: .3s;
}

.place__link:hover {
    opacity: 0.8;
}