.root__intro {
    margin: 4rem 1rem 0;
}

@media screen and (min-width: 768px) {
    .root__intro {
        margin: 6rem 1.5rem 0;
    }
}

@media screen and (min-width: 1024px) {
    .root__intro {
        margin: 6rem 0 0 3rem;
    }
}