.cover__title {
    margin: 0;
    font-weight: 900;
    font-size: 32px;
    line-height: 106%;
    width: 230px;
}

@media screen and (min-width: 768px) {
    .cover__title {
        width: 560px;
        font-size: 72px;
    }
}