.cover__title {
    margin: 0 auto;
    padding-top: 33px;
    font-weight: bold;
    font-size: 32px;
    line-height: 106%;
    max-width: 288px;
}

@media screen and (min-width: 768px) {
    .cover__title {
        padding-top: 115px;
        max-width: 560px;
        font-size: 72px;
    }
}

@media screen and (min-width: 1024px) {
    .cover__title {
        padding-top: 195px;
    }
}

@media screen and (min-width: 1280px) {
    .cover__title {
        padding-top: 245px;
    }
}